<!DOCTYPE html>
<html>
    <head>
        <title>Lundberg Ancestry | All Events</title>
        <%- include ./partials/header %>
    </head>
    <body>
        <h1>Lundberg Ancestry</h1>
        <h2>All events:</h2>
    </body>
</html>
