<!DOCTYPE html>
<html>
  <head>
    <title>Lundberg Ancestry</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lundberg Ancestry</h1>
    <h2>All people:</h2>
    <% database.people.forEach(person => { %>
        <p>
            <a href="/person/<%= person.customId %>"><%= person.name %></a>
        </p>
    <% }); %>
  </body>
</html>
