<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title ? title + ' |' : '' %> Lundberg Ancestry</title>

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/other.css">

    <link href="/public/images/favicon.ico" rel="shortcut icon" type="image/icon">
    <link href="/public/images/favicon.ico" rel="icon" type="image/icon">

    <script src="/public/vendor/jquery-3.3.1.min.js"></script>
    <script src="public/javascripts/main.js"></script>
</head>
<body>
    <div id="page-header">
        <div id="menu-icon"> </div>

        <h1><a href="/">Lundberg Ancestry</a></h1>

        <div id="main-navigation">
            <div class="close-me">&times;</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/sources">Sources</a></li>
            </ul>
        </div>

        <form action="/search" method="POST" class="search-form">
            <input name="search">
            <button type="submit">search</button>
        </form>
    </div>

    <div id="page-content">
        <%- include('./' + view) %>
    </div>
</body>
</html>
