<!DOCTYPE html>
<html>
  <head>
    <title>Lundberg Ancestry | <%= person.name %></title>
    <%- include ./partials/header %>
  </head>
  <body>
    <h1><%= person.name %></h1>
    <p>
        <a href="/">back</a>
    </p>
  </body>
</html>
