<h1>Search Results</h1>

<form action="/search" method="POST" class="search-form">
    <input name="search" value="<%= search %>">
    <button type="submit">search</button>
</form>

<% searchResults.people.forEach(person => { %>
    <p>
        <%= person.name %>
    </p>
<% }); %>

<% searchResults.events.forEach(event => { %>
    <p>
        <%= event.title %>
    </p>
<% }); %>

<% searchResults.sources.forEach(source => { %>
    <p>
        <%= source.title %>
    </p>
<% }); %>
