<h1>Search Results</h1>

<form action="/search" method="POST" class="search-form">
    <input name="search" value="<%= search %>">
    <button type="submit">search</button>
</form>

<ul id="search-results-filter">
    <li>Everything</li>
    <li>People</li>
    <li>Events</li>
    <li>Sources</li>
</ul>

<div id="search-results-box">
    <% searchResults.people.forEach(person => { %>
        <p>
            <%= person.name %>
        </p>
    <% }); %>

    <% searchResults.events.forEach(event => { %>
        <p>
            <%= event.title %>
        </p>
    <% }); %>

    <% searchResults.sources.forEach(source => { %>
        <p>
            <%= source.title %>
        </p>
    <% }); %>
</div>

<script>
</script>
