<!DOCTYPE html>
<html>
<head>
    <title>Lundberg Ancestry | All Sources</title>
    <%- include ./partials/header %>
</head>
<body>
    <h1>Lundberg Ancestry</h1>
    <h2>All sources:</h2>
</body>
</html>
