#page-header {
  padding: 10px;
  background-color: black;
  color: white;
  width: 100%;
}

/* MAIN TITLE */

#page-header h1, #page-header h1 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
}

#page-header li a:hover {
  border-color: #7ace42;
}

/* NAVIGATION */

#main-navigation ul {
  list-style: none;
}

#main-navigation li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* NAVIGATION - MOBILE */

@media screen and (max-width: 600px) {
  #menu-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url(/public/images/menu.png);
    vertical-align: text-bottom;
    margin-right: 10px;
    cursor: pointer;
  }

  #main-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #main-navigation .close-me {
    margin: 10px;
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }

  #main-navigation li a {
    display: block;
    padding: 10px;
    border-top: 2px solid white;
  }
}

/* NAVIGATION - FULL */

@media screen and (min-width: 601px) {
  #menu-icon {
    display: none;
  }

  #main-navigation {
    display: inline-block;
  }

  #main-navigation .close-me {
    display: none;
  }

  #main-navigation li {
    display: inline-block;
    padding-left: 15px;
  }

  #main-navigation li a {
    border-bottom: 3px solid black;
  }
}
