* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f0f0f0;
}

@media screen and (min-width: 600px) {
  body {
    background: url(/public/images/leaves.png);
    background-position: top right;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

table {
  border-collapse: collapse;
}

a {
  color: #00B7FF;
}

ul.bullet {
  margin-left: 20px;
}

ul.bullet li {
  margin-top: 5px;
}
