/* PAGE CONTENT */

#page-content {
  margin-bottom: 30px;
  padding: 30px 20px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

#page-content h1 {
  font-size: 32px;
}

#page-content h2 {
  margin: 30px 0 10px 0;
  padding: 0 0 5px 10px;
  border-bottom: 2px solid black;
  font-size: 24px;
}

/* PERSON HEADER */

.person-header img {
  max-height: 80px;
  vertical-align: top;
  margin-right: 15px;
  border-radius: 40px;
}

.person-header-content {
  display: inline-block;
}

.person-header-events div {
  display: inline-block;
  min-width: 30px;
  padding-top: 5px;
}

/* SEARCH BAR */

#page-header .search-form {
  display: inline-block;
  margin-left: 100px;
}

#page-content .search-form {
  margin: 20px 0 30px 0;
}

.search-form input,
.search-form button {
  padding: 5px;
  border-radius: 8px;
}

#page-content .search-form input,
#page-content .search-form button {
  border: 2px solid black;
}

.search-form button {
  cursor: pointer;
}

/* OTHER */

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.fancy-link {
  margin-top: 5px;
}

.fancy-link img {
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.person-tree {
  width: 100%;
  overflow: scroll;
}

.person-summary {
  margin-top: 20px;
}

.person-tree .treecell {
  margin: 3px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.person-tree a {
  text-decoration: none;
}

.person-family {
  margin-top: 10px;
  margin-left: 5px;
}

.person-family h3 {
  display: inline-block;
  width: 130px;
  vertical-align: top;
}

.person-family .people-list {
  display: inline-block;
  list-style: none;
}

.person-family li {
  padding-bottom: 5px;
}

ul.people-list {
  list-style: none;
}

ul.people-list li {
  margin: 5px;
}

.people-list div {
  height: 30px;
  line-height: 30px;
  margin: 5px;
  font-size: 16px;
}

.people-list img {
  max-height: 30px;
  max-width: 30px;
  border-radius: 30px;
  vertical-align: top;
  margin-right: 10px;
  border: 1px solid gray;
}

table.event-list th,
table.event-list td {
  border: 1px solid black;
  padding: 3px;
}

table.event-list th {
  background-color: #d1ecfc;
}

#search-results-filter {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin-right: 30px;
  width: 130px;
}

#search-results-filter li {
  border: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
}

#search-results-filter li.active {
  background-color: #7ace42;
  font-weight: bold;
}

#search-results-filter li:hover {
  cursor: pointer;
}

#search-results-box {
  display: inline-block;
}

.transcription {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}

.transcription th,
.transcription td {
  border: 1px solid black;
  padding: 2px;
  font-size: 12px;
}

.highlight-search-result {
  font-weight: bold;
  text-decoration: underline;
}

.header-trail {
  margin-bottom: 10px;
  font-size: 15px;
}

.header-trail a {
  text-decoration: underline;
}
