* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  background: url("/images/leaves.png");
  /*background-position: right -5;*/
  background-position: top right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #eaf7ff;
}

table {
  border-collapse: collapse;
}

a {
  color: #00B7FF;
}

/* PAGE HEADER */

#page-header {
  padding: 10px;
  background-color: black;
  color: white;
}

#page-header h1, #page-header h1 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
}

#page-header ul {
  list-style: none;
  display: inline-block;
}

#page-header li {
  display: inline-block;
  padding-left: 15px;
}

#page-header li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid black;
}

#page-header li a:hover {
  border-color: #7ace42;
}

/* PAGE CONTENT */

#page-content {
  width: 1000px;
  margin: auto;
  padding-top: 30px;
}

#page-content h2 {
  margin: 30px 0 10px 0;
  padding: 0 0 5px 10px;
  border-bottom: 2px solid black;
}

/* PERSON HEADER */

.person-header img {
  max-height: 80px;
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 40px;
}

.person-header div {
  display: inline-block;
}

/* OTHER */

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.fancy-link {
  margin-top: 5px;
}

.fancy-link img {
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.person-tree {
  width: 100%;
  overflow: scroll;
}

.person-tree .treecell {
  margin: 3px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.person-tree a {
  text-decoration: none;
}

.person-family {
  margin-top: 10px;
  margin-left: 5px;
}

.person-family h3 {
  display: inline-block;
  width: 130px;
  vertical-align: top;
}

.person-family ul {
  display: inline-block;
  list-style: none;
}

.person-family li {
  padding-bottom: 5px;
}

.people-list {
  list-style: none;
  margin-top: 20px;
}

.people-list li {
  margin: 5px;
}
