<h1>All People</h1>

<ul class="people-list">
    <% database.people.forEach(person => { %>
        <%
            if (person.private) {
                // return;
            }
        %>
        <li>
            <%- include('../partials/linkToPerson', { params: {
                person: person,
            }}) %>
        </li>
    <% }); %>
</ul>
