<h1>All People</h1>

<ul class="people-list">
    <% database.people.forEach(person => { %>
        <%
            if (person.private) {
                // return;
            }
        %>
        <li>
            <a href="/person/<%= person.customId %>"><%= person.name %></a>
        </li>
    <% }); %>
</ul>
