<div class="person-header">
    <img src="/images/generic-profile-picture.png">
    <div>
        <h1><%= person.name %></h1>
    </div>
</div>

<div id="page-content">
    <%- include('./' + subview) %>
</div>
