<div class="person-header">
    <img src="/images/generic-profile-picture.png">
    <div>
        <h1><%= person.name %></h1>
        <% if (person.birth) { %>
            <p>
                <b>B:</b>
                <%- include('../partials/formatDate', { params: {
                    date: person.birth.date,
                }}) %>
            </p>
        <% } %>
        <% if (person.death) { %>
            <p>
                <b>D:</b>
                <%- include('../partials/formatDate', { params: {
                    date: person.death.date,
                }}) %>
            </p>
        <% } %>
    </div>
</div>

<div id="page-content">
    <%- include('./' + subview) %>
</div>
