<h2>Family</h2>

<% ['parents', 'spouses', 'siblings', 'children'].forEach(rel => { %>
    <%
        if (person[rel] == null || person[rel].length == 0) {
            return;
        }
    %>
    <div class="person-family">
        <h3><%= rel %>:</h3>
        <ul>
            <% person[rel].forEach(thisPerson => { %>
                <li>
                    <%- include('../partials/linkToPerson', { params: {
                        person: thisPerson,
                    }}) %>
                </li>
            <% }); %>
        </ul>
    </div>
<% }); %>

<h2>Tree</h2>

<div class="person-tree">
    <%- include('./tree', { params: {
        person: person,
    }}) %>
</div>

<% if (person.links && person.links.length) { %>
    <h2>Links</h2>

    <% person.links.forEach(nextLink => { %>
        <%- include('../partials/formatLink', { params: {
            link: nextLink,
            fancy: true,
        }}) %>
    <% }); %>
<% } %>
