<%
    let person = params.person;
    params.safety = params.safety || 0;

    if (params.safety >= 10) {
        console.log('Tree safety exceeded');
    }
%>

<table>
    <% if (params.safety < 10 && person.parents) { %>
        <tr>
            <% person.parents.forEach(parent => { %>
                <td>
                    <% if (parent) { %>
                        <%- include('./tree', { params: {
                            person: parent,
                            safety: params.safety + 1
                        }}) %>
                    <% } %>
                </td>
            <% }); %>
        </tr>
    <% } %>
    <tr>
        <td colspan="2">
            <div class="treecell">
                <%- include('../partials/linkToPerson', { params: {
                    person: person,
                }}) %>
            </div>
        </td>
    </tr>
</table>
