<%
    let person = params.person;
    let safety = params.safety || 0;

    if (safety >= 3) {
        console.log('Tree safety exceeded');
    }
%>
<table border="1">
    <% if (safety < 3 && person.parents) { %>
        <tr>
            <% person.parents.forEach(parent => { %>
                <td>
                    <% if (parent) { %>
                        <%- include('./tree', { params: {
                            person: parent,
                            safety: safety + 1
                        }}) %>
                    <% } %>
                </td>
            <% }); %>
        </tr>
    <% } %>
    <tr>
        <td colspan="2">
            <%- include('../partials/linkToPerson', { params: {
                person: person,
            }}) %>
        </td>
    </tr>
</table>
