header {
  padding: 10px;
  background-color: black;
  color: white;
}

footer {
  padding: 10px;
  background-color: black;
  font-size: 15px;
  color: gray;
  text-align: center;
  font-style: italic;
}

header h1,
header h1 a,
header h1 a:hover {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
}

header h1 a {
  padding-left: 33px;
  background-image: url("/images/tree-round.png");
  background-size: 30px;
  background-repeat: no-repeat;
}
