.image-viewer {
  display: inline-block;
  cursor: pointer;
}

.image-viewer img {
  display: block;
  border: none;
}

.image-viewer a {
  color: #aaa;
  font-size: 12px;
  text-decoration: none;
}

.full-screen-image.pre-zoom {
  max-height: 100%;
  max-width: 100%;
}
