/* NAVIGATION */

#main-navigation ul {
  list-style: none;
}

#main-navigation li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#menu-backdrop {
  display: none;
}

/* NAVIGATION - MOBILE */

@media screen and (max-width: 600px) {
  #menu-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url(/images/menu.png);
    vertical-align: text-bottom;
    margin-right: 10px;
    cursor: pointer;
  }

  #main-navigation {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -250px;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #main-navigation .close-me {
    margin: 10px;
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }

  #main-navigation li a {
    display: block;
    padding: 10px;
    border-top: 2px solid white;
  }

  #main-navigation.open {
    left: 0;
  }

  #menu-backdrop.open {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
}

/* NAVIGATION - FULL */

@media screen and (min-width: 601px) {
  #menu-icon {
    display: none;
  }

  #main-navigation {
    display: inline-block;
  }

  #main-navigation .close-me {
    display: none;
  }

  #main-navigation li {
    display: inline-block;
    padding-left: 15px;
  }

  #main-navigation li a {
    border-bottom: 3px solid black;
  }

  #main-navigation li a:hover {
    border-color: #7ace42;
  }
}
