/* CITATION LIST */

.citation-list th {
  border: 2px solid #bbb;
  font-weight: bold;
}

.citation-list th,
.citation-list td {
  padding: 5px 10px;
}

.citation-list tr td:first-child {
  border-left: 1px solid #bbb;
}

.citation-list tr td:last-child {
  border-right: 1px solid #bbb;
}

.citation-list tr:last-child td {
  border-bottom: 1px solid #bbb;
}

.citation-list td {
  border-top: 1px solid #bbb;
}

.citation-list td.repeat-true {
  color: transparent;
  border-color: transparent;
}
